<h1><%= title 'Style guide' %></h1>

<ul>
  <li><a href="/styleguide/pages/input">input</a></li>
  <li><a href="/styleguide/pages/output-base.pdf">output - base</a></li>
  <li><a href="/styleguide/pages/output-ineligible.pdf">output - ineligible</a></li>
</ul>
