<h1><%= title 'Style guide' %></h1>

<ul>
  <li><a href="/styleguide/pages/input">input</a></li>
  <li><a href="/styleguide/pages/output-custom">output - custom</a></li>
  <li><a href="/styleguide/pages/output-generic">output - generic</a></li>
  <li><a href="/styleguide/pages/output-ineligible">output - ineligible</a></li>
</ul>
